[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

numpy = "*"
scipy = "*"
"h5py" = "*"
sklearn = "*"
tqdm = "*"
"3c556b6" = {file = "https://github.com/Lasagne/Lasagne/archive/master.zip"}
ipython = "*"
prefetch-generator = "*"
tensorboard-logger = "*"
tensorflow = "*"
theano = "==0.9"
gpustat = "*"
fire = "*"
pandas = "*"
matplotlib = "*"
xgboost = "*"